<%- include("includes/header.ejs") %>
<body>
    <h1>this is the feedback form</h1>
    <form method="post" action="/" >
        <input type="text" name="user" id="" placeholder="enter your name"><br>
        <input type="text" name="feed" placeholder="enter your feedback"><br>
        <input type="number" name="rating" placeholder="enter rating">
        <button type="submit">submit</button>

    </form>
    <script src="/feedback.js"></script>
</body>
</html>